<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
       default-autowire="byName">

    <!--Booking facade-->
    <bean id="bookingFacadeImpl" class="facade.BookingFacadeImpl">
        <constructor-arg ref="ticketService"></constructor-arg>
        <constructor-arg ref="eventService"></constructor-arg>
        <constructor-arg ref="userService"></constructor-arg>
    </bean>


    <!--Services-->
    <bean id="ticketService" class="services.TicketServiceImpl" autowire="byName">
        <constructor-arg ref="userService"></constructor-arg>
        <constructor-arg ref="eventService"></constructor-arg>
    </bean>

    <bean id="userService" class="services.UserServiceImpl" autowire="byName"></bean>

    <bean id="eventService" class="services.EventServiceImpl" autowire="byName">
    </bean>

    <!--    DAO-->
    <bean id="ticketDAO" class="dao.TicketDAO" >
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean id="eventDAO" class="dao.EventDAO">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean id="userDAO" class="dao.UserDAO">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <!--Source   -->
    <bean id="dataSource" class="data.DataSource" init-method="initData"></bean>

<!--    <bean id="eventServiceTest" class="EventServiceTest"></bean>-->
</beans>

